<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certification</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="certpage.css">
</head>
<body>
  <div class="wrapper">
    <section>
      <nav>
        <div class="row">
          <div class="upper">
            <div class="logo">
              <img src="img/logo.png" alt="Logo" width="80px">
            </div>
            <div class="enroll">
             <a href="#">Enroll</a></div>
          </div>
        </div>
      </nav>
      
      
        <div class="row">
          <div class="mid">

          <i class="fa fa-user-circle-o"></i>
          <p>This badge was issued to <br> <a href="#">Emmanuel Onyenegbutu</a> on August 02, 2022</p>
        </div>
    </div>

    <div class="course">
    <div class="row">
      <div class="cors">
        <div class="courseimage">
          <img src="img/htmlbadge.png" alt="HTML Logo" width="400px">
        </div>
        <div class="coursetitle">
          <h1>Hyper Text Markup Language (HTML)</h1>
          <p>The Above mentioned User completed the HTML course and was awarded this badge</p>
          <div class="certified-courses">
            <h1>All Certifications</h1>
            <div class="certified">
              <a href="#">CSS Certified
                <i class="fa fa-star"></i>
              </a>
              <a href="#">Vanilla JavaScript Certified
                <i class="fa fa-star"></i>
              </a>
              <a href="#">Bootstrap Certified
                <i class="fa fa-star"></i>
              </a>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<div class="row">
  <footer>
    Copyright © 2022 CapacityBay, Inc.
  </footer>
</div>
  </div>
</body>
</html>